<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

# Create a markdown cell for an introduction

In this notebook,Data science tools and Ecosystem are summarized.

# Create a markdown cell to list data science languages

1. R
2. Python
3. Scala
4. Julia
5. C++
6. Java

# Some of the commonly used libraries used by Data Scientists include:

1. Scientific computing libraries in Python
2. Visualization libraries 
3. Machine learning and deep learning 
4. Deep learning libraries

# Create a markdown cell with a table of Data Science tools

| Country Name | Capital |
| ------------ | ------- |
| United States| Washington DC |
| Canada       | Ottawa  |
| New Zealand  | Wellington |

# Create a markdown cell introducing arithmetic expression examples

In [32]:
(5+8)-1

12

In [28]:
5**2

25

In [31]:
5%2

1

In [29]:
5/2

2.5

In [10]:
a=-1
b=-3

In [11]:
c=a+b

In [27]:
c

-4

# Create a code cell to multiply and add numbers

In [13]:
(3*4)+5

17

# Create a code cell to convert minutes to hours

a=60 minutes

In [26]:
200/a

3.3333333333333335

# Insert a markdown cell to list Objectives

* R
* Julia
* Scala
* Java
* Python
* SQL
* GO
* C++
* Ruby
* PHP

 # Create a markdown cell to indicate the Author's name

Soe Lai Nwe

## Lakshmi Holla

## Niveditha Pandith